{
  "env": {
    "development": {
      "plugins": [
        "transform-flow-strip-types",
        "syntax-flow",
        "syntax-class-properties",
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    },
    "publish": {
      "presets": [
        "babili",
        "es2015"
      ],
      "plugins": [
        "transform-flow-strip-types",
        "syntax-flow",
        "syntax-class-properties",
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}